<ion-view view-title="Queue List">
  <ion-content>
    <ion-list ng-if="(!hideCategory)">
		<ion-item class="custom-heading">	
			<p class="heading-color">Category <ion-icon class="ion-ios-arrow-thin-right"></ion-icon> {{categoryName}}</p>
		</ion-item>
		<!--<ion-item class="item-input-inset">
		  <label class="item-input-wrapper search-box">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search for Queue" ng-keyup="queueSearch($parent.searchTextBox)" ng-model="$parent.searchTextBox">
		  </label>
		  <div class="cancel-button" ng-click="refreshPage()">Cancel</div>
		</ion-item>	-->	
		<ion-list class="list-extra-padding big-bar">
		  <ion-item ng-repeat="n in queueList" href="#/app/queueregistration/{{n.queue_name}}/{{n.queue_id}}"  class="queue-listing">
			<span class="ion-person-stalker group-icon"></span>
			{{n.queue_name}}
			<div style="color: rgba(93, 93, 93, 0.84); font-size:14px">{{n.address}}, {{n.city}}</div>
			<ion-icon class="ion-chevron-right"></ion-icon>
		  </ion-item>
		</ion-list>			
    </ion-list>	
   </ion-content>
</ion-view>
